@{
    ViewBag.Title = "Добро пожаловать";
}
<div class="wrapper">
    <div class="rowElement left-option">
        @Html.ActionLink("Создать публичную базу данных", "CreatePublicDb", "CsDispatcher")
    </div>
    <div class="rowElement center-option">
        @Html.ActionLink("Создать личную базу данных", "CreateProtectedDb", "CsDispatcher")
    </div>
    <div class="rowElement right-option">
        @Html.ActionLink("Создать временную публичную базу данных анонимно", "CreateAnonymousDb", "CsDispatcher")
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/Content/Styles/LandingPage.css")" rel="stylesheet" type="text/css" />
}