@{
    ViewBag.Title = "index";
}
<div class="wrapper">
    <div class="rowElement left-option">
        @Html.ActionLink("Получить строку подключения", "Index", "CsDispatcher")
    </div>
    <div class="rowElement center-option">
        @Html.ActionLink("Получить строку подключения", "Index", "CsDispatcher")
    </div>
    <div class="rowElement right-option">
        @Html.ActionLink("Получить строку подключения", "Index", "CsDispatcher")
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/Content/Styles/LandingPage.css")" rel="stylesheet" type="text/css" />
}