@model String

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

<h2 class="text-center">Используйте строку подключения</h2>
<br>
<h4 class="alert alert-success" role="alert" id="connectionString">@Model</h4>
<br>
<button data-toggle="popover" data-trigger="focus" data-content="Скопированно в буфер обмена" class="btn btn-success col-lg-offset-5" onclick="copyToClipboard('connectionString')">
    Скопировать
</button>



