@model String

@{
    ViewBag.Title = "Строка подключения";
}

<h2>Используйте строку подключения</h2>
<p style="font-size: 18pt" id="connectionString">@Model</p>
<button onclick="copyToClipboard('connectionString')">Скопировать</button>


<div>
    @Html.Partial(@"~\Views\Query\QueryExecutor.cshtml", Model)
</div>


@section Scripts{
    <script src="~/Scripts/CopyToClipboard.js"></script>
}