@model CursachPrototype.ViewModels.TableVm

<script type="text/javascript">
    onload($('#ModalDeleteTable').modal('show'))
</script>

<div class="modal fade" id="ModalDeleteTable" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление таблицы</h4>
            </div>
            <div class="modal-body text-center">
                <div class="alert alert-danger" role="alert">
                    <p>Все зависимости этой таблицы будут разорваны.</p>
                    <p>Данные безвозвратно уничтожены.</p>
                </div>

                @using (Html.BeginForm("DeleteTableConfirmed", "DisplayTable", FormMethod.Post, new { @id = "mainEditForm" }))
                { 
                    @Html.LabelFor(m => m.TableName)
                    @Html.DropDownListFor(vm => vm.TableName, Model.AvailableColumns, new { @class = "form-control" })
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="mainEditForm">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
