@using System.Data
@model System.Data.DataTable

<table>
    <thead>
    <tr>
        @foreach (DataColumn dc in Model.Columns)
        {
            <th>@dc.ColumnName</th>
        }
    </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @foreach (object item in dr.ItemArray)
                {
                    <td>@item.ToString()</td>
                }
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = dr[Model.Columns["ID"]].ToString()})
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Edit", new { id = dr[Model.Columns["ID"]].ToString()})
                </td>
            </tr>
        }
    </tbody>
</table>
