@model SelectListItem[]

@{
    ViewBag.Title = "Редактировани базы данных";
}

<h2>Редактировани базы данных @ViewBag.DbName</h2>
@{
    if (ViewBag.NoElements as bool? == true)
    {
        <b style="color: red;">База данных пуста</b>
    }
    else
    {
        using (Ajax.BeginForm("EditTable", new AjaxOptions { UpdateTargetId = "editor", HttpMethod = "Get" }))
        {
            <fieldset>
                <p>Выберите таблицу для изменения</p>
                @Html.DropDownList("SelectedTable", new SelectList(@Model, "Value", "Text", null))
                <br />
                <button>Выбрать таблицу</button>
            </fieldset>
        }
    }
}

<div id="editor"></div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}